body {
    background-color: black;
    color: white;
}

#header {
    display: flex;
    margin-bottom: 8px;
}

button {
    padding: 8px;
    color: white;
    background-color: black;
    width: 150px;
    border-radius: 8%;
    border-color: greenyellow;
    border-style:ridge;
    margin-left: 50%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

button:hover {
    background-color: aquamarine;
    color: grey;
}

.row {
    display: flex;
}

.box {
    background-color: aquamarine;
    border-radius: 10%;
    border-style: groove;
    border-color: greenyellow;
    width: 125px;
    height: 125px;
}